<% if current_user.admin == true %>
<br><br><br><br>
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">All Active Users</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr><td><%= user.email %> </td> 
              <td><%#= button_to "Revoke Access", user, method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>