<div class="container marketing">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-6">
      <br><br><br><br>
        <div class="container" style="margin-left:75px;">
          <div id="googft-mapCanvas">
            <%= javascript_include_tag "districtsmap.js" %>
          </div>
        </div>
        </div>
        <div class="col-lg-6">
          <div class="container" style="margin-left:150px;">
            <br><br><br><br>
            <p><%= render "devise/sessions/new" %></p>
          </div>
        </div>
    </div>
  </div>
</div>
